<a href="https://colab.research.google.com/github/TetaliVarshitha/WiseML/blob/main/Randomforest_MallCustomers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [39]:
data = pd.read_csv("/content/drive/MyDrive/Machine Learning/Mall_Customers.csv")
data.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [40]:
def convert(s):
  s = s.lower()
  if s=="male":
    return 0
  elif s=="female":
    return 1
  else:
    return -1

In [41]:
data = pd.read_csv("/content/drive/MyDrive/Machine Learning/Mall_Customers.csv", converters={"Genre":convert})

In [42]:
data.shape

(200, 5)

In [43]:
data.head()

   CustomerID  Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1      0   19                  15                      39
1           2      0   21                  15                      81
2           3      1   20                  16                       6
3           4      1   23                  16                      77
4           5      1   31                  17                      40

In [44]:
data.columns

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [45]:
labels = data["Spending Score (1-100)"]
features = data[['CustomerID', 'Genre', 'Age', 'Annual Income (k$)']]

**Splitting data into train and test sets:**

In [46]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.33, random_state=42)

In [47]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((134, 4), (66, 4), (134,), (66,))

**Applying Random Forest:**

In [48]:
clf = RandomForestClassifier(max_depth=2)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [49]:
y_pred = clf.predict(X_test)

In [50]:
y_pred

array([55, 77, 46, 75, 43, 55, 55, 75, 43, 55, 55, 75, 75, 55, 43, 75, 46,
       75, 46, 55, 75, 73, 75, 55, 55, 55, 55, 55, 75, 75, 77, 46, 55, 55,
       75, 46, 75, 75, 43, 55, 55, 18, 73, 46, 75, 28, 73, 73, 75, 46, 55,
       75,  6, 75, 43, 55, 43, 55, 75, 55, 75, 55, 73, 14, 55, 43])

In [51]:
data['Spending Score (1-100)'].value_counts()

42    8
55    7
46    6
73    6
35    5
     ..
31    1
82    1
24    1
23    1
99    1
Name: Spending Score (1-100), Length: 84, dtype: int64

In [52]:
from sklearn.metrics import f1_score, classification_report
f1_score(y_test, y_pred, average='macro')

0.007714285714285716

In [53]:
f1_score(y_test, y_pred, average='micro')

0.030303030303030304

In [54]:
f1_score(y_test, y_pred,average="weighted")

0.010173160173160174

In [55]:
f1_score(y_test, y_pred, average=None)

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.28571429,
       0.        , 0.1       , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [56]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.00      0.00      0.00         1
           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         1
           6       0.00      0.00      0.00         0
          10       0.00      0.00      0.00         1
          11       0.00      0.00      0.00         1
          13       0.00      0.00      0.00         2
          14       0.00      0.00      0.00         1
          15       0.00      0.00      0.00         2
          17       0.00      0.00      0.00         1
          18       0.00      0.00      0.00         0
          20       0.00      0.00      0.00         1
          22       0.00      0.00      0.00         1
          24       0.00      0.00      0.00         1
          26       0.00      0.00      0.00         2
          28       0.00      0.00      0.00         0
          29       0.00      0.00      0.00         2
          34       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         2
          40       0.00      0.00      0.00         1
          41       0.00      0.00      0.00         2
          42       0.00      0.00      0.00         2
          43       0.00      0.00      0.00         0
          46       0.00      0.00      0.00         0
          47       0.00      0.00      0.00         2
          48       0.00      0.00      0.00         2
          50       0.00      0.00      0.00         4
          52       0.00      0.00      0.00         2
          53       0.00      0.00      0.00         1
          54       0.00      0.00      0.00         1
          55       0.00      0.00      0.00         0
          56       0.00      0.00      0.00         3
          57       0.00      0.00      0.00         2
          58       0.00      0.00      0.00         2
          59       0.00      0.00      0.00         3
          63       0.00      0.00      0.00         1
          65       0.00      0.00      0.00         1
          69       0.00      0.00      0.00         1
          72       0.00      0.00      0.00         1
          73       0.20      0.50      0.29         2
          74       0.00      0.00      0.00         1
          75       0.05      1.00      0.10         1
          76       0.00      0.00      0.00         1
          77       0.00      0.00      0.00         1
          79       0.00      0.00      0.00         2
          81       0.00      0.00      0.00         1
          87       0.00      0.00      0.00         2
          88       0.00      0.00      0.00         1
          92       0.00      0.00      0.00         1
          98       0.00      0.00      0.00         1

    accuracy                           0.03        66
   macro avg       0.01      0.03      0.01        66
weighted avg       0.01      0.03      0.01        66

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))