<a href="https://colab.research.google.com/github/TetaliVarshitha/WiseML/blob/main/Randomforest_Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dataset:**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
data = pd.read_csv("/content/drive/MyDrive/Machine Learning/Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
def convert(s):
  s = s.lower()
  if s=="iris-setosa":
    return 1
  elif s=="iris-versicolor":
    return 2
  else:
    return 3

In [6]:
data = pd.read_csv("/content/drive/MyDrive/Machine Learning/Iris.csv", converters={"Species":convert})

In [7]:
data.shape

(150, 6)

In [8]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [9]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [10]:
labels = data["Species"]
features = data[['Id',	'SepalLengthCm',	'SepalWidthCm',	'PetalLengthCm','PetalWidthCm']]

**Splitting data into train and test sets:**

In [11]:
X_train, X_test, y_train, y_test = train_test_split(features,labels, test_size=0.33, random_state=42)

In [12]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((100, 5), (50, 5), (100,), (50,))

**Applying random forest:**

In [13]:
clf = RandomForestClassifier(max_depth=3)

In [14]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=3, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
y_pred = clf.predict(X_test)

In [16]:
y_pred

array([2, 1, 3, 2, 2, 1, 2, 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 2, 2, 3, 1, 3,
       1, 3, 3, 3, 3, 3, 1, 1, 1, 1, 2, 1, 1, 3, 2, 1, 1, 1, 3, 2, 2, 1,
       1, 2, 3, 3, 2, 3])

In [17]:
data['Species'].value_counts()

3    50
2    50
1    50
Name: Species, dtype: int64

In [18]:
from sklearn.metrics import f1_score, classification_report
f1_score(y_test, y_pred, average='macro')

1.0

In [19]:
f1_score(y_test, y_pred, average='micro')

1.0

In [20]:
f1_score(y_test, y_pred,average="weighted")

1.0

In [21]:
f1_score(y_test, y_pred, average=None)

array([1., 1., 1.])

In [22]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        19
           2       1.00      1.00      1.00        15
           3       1.00      1.00      1.00        16

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50