<a href="https://colab.research.google.com/github/TetaliVarshitha/WiseML/blob/main/Randomforest_socialadvertising.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dataset:**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
def convert(s):
  s = s.lower()
  if s == "male":
    return 0
  elif s == "female":
    return 1
  else:
    return -1

In [5]:
data = pd.read_csv("/content/drive/MyDrive/Machine Learning/Social_Network_Ads.csv", converters={"Gender":convert})

In [6]:
data.shape

(400, 5)

In [7]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

In [8]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [9]:
labels = data["Purchased"]
features = data[['User ID', 'Gender', 'Age', 'EstimatedSalary']]

**Splitting data into train and test sets:**

In [10]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.33, random_state=42)

In [11]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((268, 4), (132, 4), (268,), (132,))

**Applying random forest:**

In [12]:
clf = RandomForestClassifier(max_depth=2)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [13]:
y_pred = clf.predict(X_test)

In [14]:
y_pred

array([1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0])

In [15]:
data['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [16]:
from sklearn.metrics import f1_score, classification_report
f1_score(y_test, y_pred)

0.9259259259259259

In [17]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.93      0.95        80
           1       0.89      0.96      0.93        52

    accuracy                           0.94       132
   macro avg       0.93      0.94      0.94       132
weighted avg       0.94      0.94      0.94       132